body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90VH;
}
.box{
    background-color:#BDC8FF;
    width: 400px;
    height: 210px;
    text-align: center;   
}
.check{
    margin-top: 30px;
}
.acceder{
    display: flex;
    justify-content: center;
color:#D7F6D0 ;
}

